[submodule "frontend"]
	path = frontend
	url = https://github.com/thirstysquirtle/LaterLetters-FrontEnd.git
[submodule "backend"]
	path = backend
	url = https://github.com/thirstysquirtle/LaterLetters-BackEnd.git
